body{
    
}

.search{
    box-sizing: border-box;
    padding: 6px;
    border: 1px solid grey;
    background: #f1f1f1;
    margin:auto;
    max-width:265px;
    margin-top: 7px;
    text-align: center;
}

.mapouter{
    margin-top: 2%;
    margin-left: 20%;
    padding-right: 20%;
}

.locaties{
    text-align: center;
}

.oba{
    margin-left: 10%;
    font-size: 80px;
    font-family: avenir black;
    color:red;
}

#map {
    width: 500px;
    height: 500px;
    border: thin solid black;
  }