body{
    
}

.search{
    box-sizing: border-box;
    padding: 6px;
    border: 1px solid grey;
    float: left;
    width: 25%;
    background: #f1f1f1;
    margin:auto;
    max-width:265px;
    margin-top: 10px;
}

.mapouter{
    margin-top: 10%;
    margin-left: 28%;
}

.gmap_canvas {
    height: 400px;
    width: 600px;
}
.locaties{
    margin-left: 40%;
}

.oba{
    margin-left: 10%;
    font-size: 80px;
    font-family: avenir black;
    color:red;
}