body{
    
}

.search{
    box-sizing: border-box;
    padding: 6px;
    border: 1px solid grey;
    background: #f1f1f1;
    margin:auto;
    max-width:265px;
    margin-top: 7px;
    text-align: center;
}

.mapouter{
    margin-top: 2%;
    margin-left: 20%;
    padding-right: 20%;
}

.locaties{
    text-align: center;
}

.oba{
    margin-top: 5px;
    padding-bottom: 0px;
    margin-bottom: 10px;
    margin-left: 10%;
    font-size: 80px;
    font-family: avenir black;
    color:red;
}

#map {
    width: 500px;
    height: 500px;
    border: thin solid black;
  }

ul{
    list-style-type: none;
    display: block;
    padding: 0 10px 6px 8px;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 26px;
    text-transform: lowercase;
    color: #c22d2d;
    text-decoration: none;
    
}
li{
    display: inline;

}

.pls{
    text-decoration: none;
}

#dev{
    text-decoration: none;
    color: #000000;
}